body {
    background-color: darkcyan;
}
h1 {
    font-size: 24px;
    border: 2px solid black;
}
h2 {
    font-size: 16px;
    border: 2px solid black;
}
h3 {
    font-size: 16px;
    border: 2px solid black;
}
h4 {
    font-size: 16px;
    border: 2px solid black;
}
h5 {
    font-size: 16px;
    border: 2px solid black;
}
.column {
  float: left;
  width: 33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
