body {
    background-color: darkcyan;
}
h1 {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 1mm;
}
h2 {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 1mm;
}
h3 {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 1mm;
}
h4 {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 1mm;
}
h5 {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 1mm;
}
img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.box{
    width: 250px;
    border: 5px solid black;
}

